/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 18px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  background-color: #000000; }

h1 {
  font: bold 48px Montserrat, Arial;
  color: black; }

h2 {
  font: normal 42px Montserrat, Arial;
  color: #180C86; }

h3 {
  font-size: 38px;
  line-height: 30px; }

h4 {
  font-size: 32px;
  line-height: 30px; }

h5 {
  font-size: 28px; }

h6 {
  font-size: 24px; }

#gradient {
  width: 100%;
  padding: 0px;
  margin: 0px; }

.main-head h1 {
  padding-top: 100px; }
.main-head h2 {
  padding-top: 50px; }
.main-head p {
  padding: 30px 100px;
  line-height: 25px; }

.img-head {
  padding-top: 60px;
  max-width: 90%; }

.ser-one {
  background-color: #690029;
  color: white;
  font-size: 14px;
  padding: 40px 20px;
  text-align: center;
  line-height: 25px; }
  .ser-one h4 {
    color: #AFD0EA;
    padding-bottom: 20px; }
  .ser-one button, .ser-one a {
    margin-top: 20px;
    background-color: #00E4C4;
    border: #00E4C4;
    border-radius: 0px;
    color: black; }
  .ser-one:hover a {
    transform: scale(1.5);
    background-color: #00E4C4;
    color: black; }

.ser-two {
  background-color: #FFAB9C;
  color: black;
  padding: 40px 20px;
  font-size: 14px;
  text-align: center;
  line-height: 25px; }
  .ser-two h4 {
    color: #180C86;
    padding-bottom: 20px; }
  .ser-two button, .ser-two a {
    margin-top: 20px;
    background-color: #00E4C4;
    border: #00E4C4;
    border-radius: 0px;
    color: black; }
  .ser-two:hover a {
    transform: scale(1.5);
    background-color: #00E4C4;
    color: black; }

.ser-three {
  background-color: #FFF6C9;
  color: black;
  padding: 40px 20px;
  font-size: 14px;
  text-align: center;
  line-height: 25px; }
  .ser-three h4 {
    color: #DE3163;
    padding-bottom: 20px; }
  .ser-three button, .ser-three a {
    margin-top: 20px;
    background-color: #00E4C4;
    border: #00E4C4;
    border-radius: 0px;
    color: black; }
  .ser-three:hover a {
    transform: scale(1.5);
    background-color: #00E4C4;
    color: black; }

.ser-four {
  background-color: #005A44;
  color: white;
  padding: 40px 20px;
  font-size: 14px;
  text-align: center;
  line-height: 25px; }
  .ser-four h4 {
    color: #FFDD00;
    padding-bottom: 20px; }
  .ser-four button, .ser-four a {
    margin-top: 20px;
    background-color: #00E4C4;
    border: #00E4C4;
    border-radius: 0px;
    color: black; }
  .ser-four:hover a {
    transform: scale(1.5);
    background-color: #00E4C4;
    color: black; }

.testimonial {
  background-color: white;
  padding: 30px; }

.blog-section {
  background-color: #252627;
  padding: 80px 50px;
  color: #8D8D8D;
  font-size: 14px;
  line-height: 20px; }
  .blog-section h6 {
    padding: 20px 0;
    color: #FFF6C9;
    line-height: 30px; }
  .blog-section button, .blog-section a {
    margin-top: 20px;
    background-color: #FFF6C9;
    color: black;
    border: #FFF6C9;
    border-radius: 0px; }
  .blog-section img {
    max-width: 90%; }

.blog-one {
  border-right: 1px solid #8D8D8D; }
  .blog-one a {
    margin-bottom: 10px; }

.blog-two {
  border-right: 1px solid #8D8D8D; }
  .blog-two a {
    margin-bottom: 10px; }

.blog-three a {
  margin-bottom: 10px; }

.column-contact {
  background-color: #FFDD00;
  padding: 100px 80px;
  line-height: 30px;
  color: #005A44; }
  .column-contact button {
    margin-top: 20px;
    background-color: #00E4C4;
    color: black;
    border: #00E4C4;
    border-radius: 0px; }
    .column-contact button:hover {
      transform: scale(1.5);
      background-color: #00E4C4;
      color: black; }
  .column-contact h3 {
    margin-bottom: 20px;
    color: #180C86;
    font-weight: bold; }

@media all and (max-width: 770px) {
  .blog-one {
    border-right: none;
    border-bottom: 1px solid #8D8D8D;
    margin-bottom: 20px; }

  .blog-two {
    border-right: none;
    border-bottom: 1px solid #8D8D8D;
    margin-bottom: 20px; } }
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em; }

.nav-main {
  background-color: #000000;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  line-height: 70px; }

.logo img {
  vertical-align: middle; }
.logo:hover {
  opacity: 0.5; }

.inline {
  display: inline-flex; }

li a {
  margin-left: 10px; }

.footer-align {
  padding-top: 25px; }

.footer-nav {
  padding-top: 12px; }

.footer-content {
  background-color: #fafafa;
  border-top: #dddddd solid 1px;
  padding: 0px 30px;
  line-height: 70px; }

@media (min-width: 990px) {
  /* to move nav bar links to right */
  .navbar-right {
    position: absolute;
    left: 55%; } }
.welcome-msg {
  background-color: #FFAB9C;
  padding: 80px 0; }

.center {
  text-align: center; }

.call-email {
  background-color: #005A44;
  padding: 60px 0px;
  color: #FFDD00; }

.i-gap {
  padding-right: 20px;
  font-size: 40px; }

.contact-form {
  background-color: #252627;
  padding: 80px 30px; }

#full-name, #email, #subject, #message {
  background-color: #37393B;
  color: #8D8D8D;
  border-color: #37393B;
  color: #8D8D8D;
  border-radius: 0px; }

.form-data {
  padding-bottom: 10px; }

.confirm-msg {
  background-color: #252627;
  color: #8D8D8D;
  margin-top: -30px;
  padding-bottom: 10px; }

.img-contact {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 90%; }

.about-main {
  padding: 100px 50px;
  background-color: aquamarine; }

.member-one {
  padding: 50px;
  color: #8D8D8D;
  line-height: 25px; }
  .member-one h4 {
    padding-bottom: 15px; }
  .member-one h6 {
    font-weight: 400;
    padding-bottom: 10px; }
  .member-one a {
    color: #AFD0EA; }

.member-two {
  padding: 50px;
  color: #8D8D8D;
  line-height: 25px; }
  .member-two h4 {
    padding-bottom: 15px; }
  .member-two h6 {
    font-weight: 400;
    padding-bottom: 10px; }
  .member-two a {
    color: #180C86; }

.member-three {
  padding: 50px;
  color: #8D8D8D;
  line-height: 25px; }
  .member-three h4 {
    padding-bottom: 15px; }
  .member-three h6 {
    font-weight: 400;
    padding-bottom: 10px; }
  .member-three a {
    color: #FFDD00; }

.member-four {
  padding: 50px;
  color: #8D8D8D;
  line-height: 25px; }
  .member-four h4 {
    padding-bottom: 15px; }
  .member-four h6 {
    font-weight: 400;
    padding-bottom: 10px; }
  .member-four a {
    color: #DE3163; }

.tile-one {
  background-color: #690029; }

.tile-two {
  background-color: #FFAB9C; }

.tile-three {
  background-color: #005A44; }

.tile-four {
  background-color: #FFF6C9; }

.img-about {
  padding-top: 150px;
  max-width: 90%; }

.service-one {
  background-color: #690029;
  color: white;
  padding: 100px 50px;
  line-height: 30px; }
  .service-one h3 {
    color: #AFD0EA;
    line-height: 50px;
    padding-top: 100px; }
  .service-one a {
    margin-top: 20px;
    background-color: #00E4C4;
    border: #00E4C4;
    border-radius: 0px;
    color: black; }

.service-two {
  background-color: #FFAB9C;
  color: black;
  padding: 100px 50px;
  line-height: 30px; }
  .service-two h3 {
    color: #180C86;
    line-height: 50px;
    padding-top: 100px; }
  .service-two a {
    margin-top: 20px;
    background-color: #00E4C4;
    border: #00E4C4;
    border-radius: 0px;
    color: black; }

.service-three {
  background-color: #005A44;
  color: white;
  padding: 100px 50px;
  line-height: 30px; }
  .service-three h3 {
    color: #FFDD00;
    line-height: 50px;
    padding-top: 100px; }
  .service-three a {
    margin-top: 20px;
    background-color: #00E4C4;
    border: #00E4C4;
    border-radius: 0px;
    color: black; }

.service-four {
  background-color: #FFF6C9;
  color: black;
  padding: 100px 50px;
  line-height: 30px; }
  .service-four h3 {
    color: #DE3163;
    line-height: 50px;
    padding-top: 100px; }
  .service-four a {
    margin-top: 20px;
    background-color: #00E4C4;
    border: #00E4C4;
    border-radius: 0px;
    color: black; }

.column-client {
  background-color: white;
  padding: 80px 50px; }
  .column-client h3 {
    padding-bottom: 20px;
    font-weight: bold;
    color: brown; }
  .column-client img {
    height: 100px;
    width: 150px;
    margin: 10px; }
  .column-client a {
    position: inline-block; }

.img-ser {
  padding-top: 80px;
  max-width: 90%; }

/*# sourceMappingURL=main.css.map */
