


.about-main {
    padding: 100px 50px;
    background-color: aquamarine;
}

.member-one {
   padding: 50px;
    color: #8D8D8D;
    line-height: 25px;
    h4 {
        padding-bottom: 15px;
    }
    h6 {
        font-weight: 400;
        padding-bottom: 10px;
    }
    a{
        color: #AFD0EA;
    }
}

.member-two {
  
    padding: 50px;
    color: #8D8D8D;
    line-height: 25px;
    h4 {
        padding-bottom: 15px;
    }
    h6 {
        font-weight: 400;
        padding-bottom: 10px;
    }
    a{
        color: #180C86;
    }

}

.member-three {
 
    padding: 50px;
    color: #8D8D8D;
    line-height: 25px;
    h4 {
        padding-bottom: 15px;
    }
    h6 {
        font-weight: 400;
        padding-bottom: 10px;
    }
    a{
        color: #FFDD00;
    }
}

.member-four {
  
    padding: 50px;
    color: #8D8D8D;
    line-height: 25px;
    h4 {
        padding-bottom: 15px;
    }
    h6 {
        font-weight: 400;
        padding-bottom: 10px;
    }
    a{
        color: #DE3163;
    }
}

.per-one {

    }
    
.per-two {
      
    }
    
.per-three {
     
    }
    
.per-four {
     
    }

.tile-one {
    background-color: #690029;
    
    
    }
    
.tile-two {
        background-color: #FFAB9C;
        
    }
    
.tile-three {
        background-color:#005A44;
        
        
    }
    
.tile-four {
        background-color: #FFF6C9;
        
        
    }  
    
.img-about {
    padding-top: 150px;
    max-width: 90%;
}    

    