
body {
    font-size: 18px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, Sans-serif;
      // margin: 20px;
      background-color: #000000;
     // padding: 0px;
    //  margin: 0px;
}

h1 {
    font: bold 48px Montserrat, Arial;
    color: black;
    
}

h2 {
    font: normal 42px Montserrat, Arial;
    color: #180C86;
    
}

h3 {
    font-size: 38px;
    line-height: 30px;
}

h4 {
    font-size: 32px;
    line-height: 30px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 24px;
}

#gradient
{
 width: 100%;
 //height: 600px;
 padding: 0px;
 margin: 0px;
}

.main-head {
    h1{
    padding-top: 100px;
    }
    h2 {
        padding-top: 50px;
    }
    p {
        padding: 30px 100px;
        line-height: 25px;
    }
}

.img-head {
    padding-top: 60px;
    max-width: 90%;
}

.ser-one {
 background-color: #690029;
 color: white;
 font-size: 14px;
 padding: 40px 20px;
 text-align: center;
 line-height: 25px;
    h4 {
        color:#AFD0EA;
        padding-bottom: 20px;
    }
    button , a {
        margin-top: 20px;
        background-color:#00E4C4;
        border: #00E4C4;
        border-radius: 0px;
        color: black;
       // visibility: hidden;
        
    }
    &:hover a {
       // visibility: visible;
       transform: scale(1.5);
       background-color:#00E4C4;
       color: black;
    }

}

.ser-two {
    background-color: #FFAB9C;
    color:black;
    padding: 40px 20px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    h4 {
        color:#180C86;
        padding-bottom: 20px;
    }
    button, a {
        margin-top: 20px;
        background-color:#00E4C4;
        border: #00E4C4;
        border-radius: 0px;
        color: black;
       // visibility: hidden;
    }
    &:hover a {
       // visibility: visible;
       transform: scale(1.5);
       background-color:#00E4C4;
       color: black;
    }
}

.ser-three {
    background-color: #FFF6C9;
    color: black;
    padding: 40px 20px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    h4 {
        color:#DE3163;
        padding-bottom: 20px;
    }
    button, a {
        margin-top: 20px;
        background-color:#00E4C4;
        border: #00E4C4;
        border-radius: 0px;
        color: black;
       // visibility: hidden;
    }
    &:hover a {
       // visibility: visible;
       transform: scale(1.5);
       background-color:#00E4C4;
       color: black;
    }
}

.ser-four {
    background-color: #005A44;
    color:white;
    padding: 40px 20px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    h4 {
        color:#FFDD00;
        padding-bottom: 20px;
    }
    button, a {
        margin-top: 20px;
        background-color:#00E4C4;
        border: #00E4C4;
        border-radius: 0px;
        color: black;
       // visibility: hidden;
    }
    &:hover a {
      //  visibility: visible;
      transform: scale(1.5);
      background-color:#00E4C4;
      color: black;
    }
}

.testimonial  {
    background-color:white;
    padding: 30px;
  //  margin: 0 10px ;
}

.blog-section {
    background-color: #252627;
    padding: 80px 50px;
    color: #8D8D8D;
    font-size: 14px;
    line-height: 20px;
    h6 {
        padding: 20px 0;
        color: #FFF6C9;
       // margin-top: 180px;
        line-height: 30px;
    }
    button, a {
        margin-top:20px;
        background-color:#FFF6C9;
        color: black;
        border: #FFF6C9;
        border-radius: 0px;

    }
    img {
     //   position: absolute;
        max-width: 90%;
        
    }
    
}

.blog-one {
    border-right: 1px solid #8D8D8D;
    a {
        margin-bottom: 10px;
    }
    

}
.blog-two {
    border-right: 1px solid #8D8D8D;
    a {
        margin-bottom: 10px;
    }

}
.blog-three {

  a {
    margin-bottom: 10px;
}

}

.column-contact {
   
    background-color: #FFDD00;

    padding: 100px 80px;
    line-height: 30px;
    color: #005A44;
    button {
        margin-top: 20px;
        background-color:#00E4C4;
        color: black;
        border: #00E4C4;
        border-radius: 0px;

        &:hover {
            transform: scale(1.5);
            background-color:#00E4C4;
            color: black;

        }
    }
    h3 {
        margin-bottom: 20px;
        color: #180C86;
        font-weight: bold;
    }
    
}


@media all  and (max-width: 770px) {
   
    .blog-one {
        border-right: none;
        border-bottom: 1px solid #8D8D8D;
        margin-bottom: 20px;
        
    
    }
    .blog-two {
        border-right: none;
        border-bottom: 1px solid #8D8D8D;
        margin-bottom: 20px;
    
    }

}


.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }
